<footer class="site-footer">
  <nav class="main-nav" id="menu">
    <ul>
        <li>
          <a href="{{ site.baseurl }}index.html" {% if currentpage == page.url %}class = "active"{% endif %}>Narrative</a>
          <ol>
              <li>
                  <a href="{{ site.baseurl }}Persona_Nelisa.html" {% if currentpage == page.url %}class = "active"{% endif %}>Nelisa</a>
              </li>
              <li>
                  <a href="{{ site.baseurl }}Persona_Xolani.html" {% if currentpage == page.url %}class = "active"{% endif %}>Xolani</a>
              </li>
              <li>
                  <a href="{{ site.baseurl }}Persona_Nthabiseng.html" {% if currentpage == page.url %}class = "active"{% endif %}>Nthabiseng</a>
              </li>
          </ol>
        </li>
        <li>
            <a href="{{ site.baseurl }}1_Process_the_data.html" {% if currentpage == page.url %}class = "active"{% endif %}>Process the data</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}2_Display_the_data.html" {% if currentpage == page.url %}class = "active"{% endif %}>Display the data</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}3_Display_data_from_file_online.html" {% if currentpage == page.url %}class = "active"{% endif %}>Display weekly data</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}4_Database_setup.html" {% if currentpage == page.url %}class = "active"{% endif %}>Data beyond a CSV</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}5_Web_app_basics.html" {% if currentpage == page.url %}class = "active"{% endif %}>Manage data online</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}6_Deploy_roles_login.html" {% if currentpage == page.url %}class = "active"{% endif %}>Who can do what?</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}7_Search_and_filter.html" {% if currentpage == page.url %}class = "active"{% endif %}>Where's my data?</a>
        </li>
    </ul>
  </nav>
</footer>
